extends ../layout

block content
  link(rel='stylesheet', href='/stylesheets/app.css')
  style.
    .account_bgcontainer{
      background-image: url("/image/fondochido.jpg");
    }
    .user_img{
      background-image: url("/image/user_img.png");
    }
    a{
      text-decoration:none;
      color:#000;
    }
    #subjects{
      display:none;
    }
    .user_personalinfo{
      display:block;
    }
  div.container_useraccount
    div.alluser_info
      div.account_bgcontainer
        div.option_spancontout
          span.option_spancont
            span
            span
            span
        div.img_namecontout
          div.img_namecont
            div.user_img
            div.name_user #{datos.nombre} #{datos.apellido}
      div.user_info
        div.porfile_options
          div.porfile_items(onclick="inf()") Perfil
          div.porfile_items(onclick="mat()") Materias
          div.porfile_items
            a(href="/edit") Configuración
        div.user_personalinfo
          span Escuela:
          p #{datos.escuela}
        #subjects
          -if(datos.materias == undefined || datos.materias == "")
            div.cont_usersubjects
              div.user_subjects
                div.subimg_cont
                  h3(style="color:#fff") No hay materias registradas
          -else
            -each m in datos.materias
              div.cont_usersubjects
                div.user_subjects
                  div.subimg_cont
                    span#circle
                  div.subdats_cont
                    div.subject_title
                      span #{m.materia}
                    div.subject_info
                      span.subject_infoinner
                        b Promedio:
                        span #{m.calif}
                      span.subject_infoinner
                        b Fecha de Inicio:
                        span #{m.inicio}
    script.
      function mat(){
        $(".user_personalinfo").hide();
        $("#subjects").show();
      }
      function inf(){
        $(".user_personalinfo").show();
        $("#subjects").hide();
      }
